.form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.form label {
    font-size: 18px;
    margin-right: 10px;
}

.form input {
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4E75FF;
    color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: #4763c8;
}

.form button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}